@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    background: url(Play-School-Hero-BG-scaled.jpg) center fixed;
    background-size: cover;
}

.heading{
    font-family:New Tegomin;
}

.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    width: 50%;
}

.radio_input{
    display: none;
}

.radio_label{
    padding: 8px 14px;
    font-size: 14px;
    font-family: New Tegomin;
    color: white;
    background-color: springgreen;
    cursor: pointer;
    transition: background 0.1s;
    width: 50%;
}

.radio_label:not(:last-of-type){
    border-right: 1px solid seagreen;
}

.radio_input:checked + .radio_label{
    background-color: seagreen;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    width: 10%;
    padding: 6px;
    border: 2px solid purple;
    border-radius: 10px;
    background-color: chocolate;
}

